1. simple function without arguments and return value

In [1]:
# defining the function
def hi():
    print("Hi How are u?")

In [2]:
# calling the function
hi()

Hi How are u?

In [3]:
for i in range(3):
    hi()

Hi How are u?
Hi How are u?
Hi How are u?

2. functions that return a value

In [4]:
def grn():
    from random import randint
    return randint(1, 100)

In [8]:
grn()

18

In [9]:
ans = grn()
print(ans)

69

In [10]:
ans = grn() + grn() - grn()
print(ans)

25

In [12]:
"hello".upper().replace('H','g')

'gELLO'

3. functions with arguments/parameters

In [14]:
def si(p, r, t):
    print("Simple Interest =>",(p*r*t)/100)

4. function with arguments and return value âœ…

In [23]:
def area_of_circle(cirumference):
    '''
    This function calculates the area of circle from the circumference
    '''
    r = cirumference/(2*3.14)
    return 3.14 * r ** 2

In [27]:
area_of_circle(10) + area_of_circle(20)

39.808917197452224

function parameters styles
1. positional arguments
2. required arguments
3. default arguments 
4. variable length arguments `*args`
5. keyword arguments `**kwargs`

In [28]:
def add(a, b, c, d):
    return a + b + c + d

In [29]:
add(1,2,3,4)

10

In [35]:
print(add(a=2, b=3, c=4, d=5))
print(add(b=3, a=2, d=4, c=1))
print(add(c=2, a=2, d=4, b=1))

14
10
9

In [36]:
def add(a, b, c, d = 0):
    return a + b + c + d

In [41]:
print(add(1,2,3,5))
print(add(1,2,3))

11
6

In [56]:
def si2(p = 10000, r=1.1, t=10):
    return (p*r*t)/100

In [57]:
print(si2())
print(si2(p=12000))
print(si2(p=12000, r=3))
print(si2(p=12000, r=3, t=5))
print(si2(r=3, t=5))
print(si2(t=5))
print(si2(p=15000, t=5))
print(si2(12000, 5, 5))

1100.0
1320.0000000000002
3600.0
1800.0
1500.0
550.0
825.0
3000.0

variable argument *args

In [66]:
def multiply(*num):
    ans = 1 
    for i in num:
        ans *= i
    return ans

In [67]:
multiply(2,3,5,10)

300

keyword argument **kwargs

In [68]:
def handle_data(**data):
    for k,v in data.items():
        if isinstance(v, (int,float)):
            print(f"{k} => {v}")
        else:
            print('invalid entry')

In [69]:
handle_data(name='Raj', age=23, salary=10000, address='Delhi')

invalid entry
age => 23
salary => 10000
invalid entry

LAMBDA EXPRESSIONS - Anonymous functions

`f(x) = x^2 + 2x + 1`

`f(120)`

In [1]:
def eq1(x):
    return x**2 + 2*x + 1

In [3]:
eq1(3)

16

```
var = lambda argument: expression
```

In [4]:
f = lambda i: i**2 + 2*i + 1

In [5]:
print(f(4))
print(f(14))
print(f(13))

25
225
196

In [6]:
g = lambda x,y: x**2 + 2*x + y

In [7]:
print(g(4,5))
print(g(14,15))

29
239

In [12]:
data = [34,2,5,45,6,92,45,7,2,36,7]
list(map(lambda x: x**2, data))

[1156, 4, 25, 2025, 36, 8464, 2025, 49, 4, 1296, 49]

In [14]:
names = ['Raj', 'Rahul', 'Ravi', 'Ramesh', 'Rajesh']
list(map(lambda n: n.upper(), names))

['RAJ', 'RAHUL', 'RAVI', 'RAMESH', 'RAJESH']

In [16]:
x = [1,2,3,5,6]
y = [2,3,4,6,7]
z = list(map(lambda i, j: i * j, x, y))
z

[2, 6, 12, 30, 42]

In [19]:
x = [45,23,56,76,98,0,23,5,4,2,5,6]
even_x = list(filter(lambda i: i % 2 == 0, x))
print(even_x)

[56, 76, 98, 0, 4, 2, 6]

In [22]:
x = [4,5,2,3,5,6,7,6,9,8,0,2,3,5,4,2,5,6]
grx = list(filter(lambda i: i > 3, x))
print(grx)

[4, 5, 5, 6, 7, 6, 9, 8, 5, 4, 5, 6]

In [26]:
# single input with multiple values used in competitive exams
data = list(map(int, input().split()))